<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
	<title>Home Page</title>
	
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>

<div class="container-fluid">
<br>
<h2>Sistem Informasi Kepegawaian</h2>
<h3>Selamat datang di Sistem Informasi Kepegawaian</h3>
	<br>
	<div class="row">
		<div class="col-md-6">
			<div class="card">
				<div class="card-header">
					Lihat Data Pegawai Berdasarkan NIP
				</div>
				<form th:action="@{/pegawai}" method="GET">
					<div class="card-body">
						<label for="nip">Masukan NIP Pegawai</label>
						<input type="text" name="nip" class="form-control" />
						<p></p>
						<button type="submit" class="btn btn-primary">Lihat</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	 <br>
	<div class="row">
		<div class="col-md-6">
			<div class="card">
				<div class="card-header">
					Lihat Detail Jabatan
				</div>
				<form th:action="@{/jabatan/view}" method="GET">
					<div class="card-body">
						<label for="id">Pilih Jabatan</label>
						<select class="form-control" name="id">
							<option value="">-</option>
					    	<option th:each="jabatan : ${listJabatan}" th:value="${jabatan.id}" th:text="${jabatan.nama}">
					    	</option>
						</select>
						<p></p>
						<button type="submit" class="btn btn-primary">Lihat</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<br>
	 <br>
	<div class="row">
		<div class="col-md-6">
			<div class="card">
				<div class="card-header">
					Pegawai Tertua dan Termuda Di Suatu Divisi
				</div>
				<form th:action="@{/pegawai/termuda-tertua}" method="GET">
					<div class="card-body">
						<label for="id">Pilih Instansi</label>
						<select class="form-control" name="id">
							<option value="">-</option>
					    	<option th:each="instansi : ${listInstansi}" th:value="${instansi.id}" th:text="${instansi.nama}+ ' - ' + ${instansi.provinsi.nama}">
					    	</option>
						</select>
						<p></p>
						<button type="submit" class="btn btn-primary">Lihat</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-6">
			<div class="card">
				<div class="card-header">
					Tambah Pegawai dan Lihat Seluruh Jabatan
				</div>
					<div align="center">
						<a th:href="@{/pegawai/tambah}" class="btn btn-primary mt-4">Tambah Pegawai</a>
						<a th:href="@{/jabatan/viewall}" class="btn btn-primary mt-4">Liat Seluruh Jabatan</a>
					</div>
			</div>
		</div>
	</div>
</div>

</body>

</html>