<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Ubah Jabatan</title>

	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
	<nav th:replace= "fragments/fragment :: navbar"></nav>
	<br>
	<h3 style="margin-left: 40px; margin-right: 40px">Ubah Jabatan</h3>
	
	<form style="margin-left: 40px" th:action="@{/jabatan/ubah}" th:object="${jabatan}" method="POST">
			<input type = "hidden" name="id" th:value ="*{id}"/>
			<p></p>
			<label for="nama">Nama :</label>
			<input type = "text" name="nama" th:value="${jabatan.nama}" required = "true" class="form-control"/>
			<p></p>
			<label for="deskripsi">Deskripsi :</label>
			<input type = "text" name="deskripsi"  required = "true" th:value="${jabatan.deskripsi}" class="form-control"/>
			<p></p>
			<label for="gaji">Gaji Pokok:</label>
			<input type = "number" name="gaji_pokok"  required = "true" th:value="${jabatan.gaji_pokok}" class="form-control"/>
			<p></p>
			<button type="submit" class="btn btn-primary">Simpan</button>
	</form>
</body>
</html>