<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Ubah Pegawai</title>
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<h2>Hello!</h2>
	
	<h3>Ubah Data Pegawai</h3>
	<form th:action="@{/pegawai/ubah}" th:object="${pegawai}" method="POST">
		Nama: <br>
		<input type="text" name="nama" th:value="${pegawai.nama}"/>
		<br>
		Tempat Lahir: <br>
		<input type="text" name="tempat_lahir" th:value="${pegawai.tempat_lahir}"/>
		<br>
		Tanggal Lahir: <br>
		<input type="date" name="tanggal_lahir" th:value="${pegawai.tanggal_lahir}"/>
		<br>
		Tahun Masuk: <br>
		<input type="number" name="tahun_masuk" th:value="${pegawai.tahun_masuk}"/>
		<br>
		Nama Instansi: <br>
		<select name="instansi" th:value="${pegawai.instansi}">
			<option th:each = "instansi : ${instansiList}"
					th:value = "${instansi.id}"
					th:text = "${instansi.nama} + ' - ' + ${instansi.provinsi.nama}"></option>
		</select><br>
		Jabatan: <br>
		<div th:each = "j,rowStat : *{listJabatan}">
			<select name = "listJabatan">
				<option th:each = "jabatan : ${jabatanList}"
						th:value = "${jabatan.id}"
						th:field="*{listJabatan[__${rowStat.index}__].id}"
						th:text = "${jabatan.nama}"></option>
			</select>
			<button type="submit" name="removeRow" th:value="${rowStat.index}">Remove Row</button>
			<br><br>
		</div>
		<button type="submit" name="addRow">Add Row</button>
		<br><br>
		<button type="submit">Submit</button>
	</form>
</body>

</html>